[Unit]
Description=Tomcat 9 servlet container
After=network.target

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=forking

User=tomcat
Group=tomcat

Environment="JAVA_HOME=/usr/lib/jvm/jre“
Environment="JAVA_OPTS=-Djava.security.egd=file:///dev/urandom -Djava.awt.headless=true“

Environment="CATALINA_BASE=/opt/tomcat/latest“
Environment="CATALINA_HOME=/opt/tomcat/latest“
Environment="CATALINA_PID=/opt/tomcat/latest/temp/tomcat.pid“
Environment="CATALINA_OPTS=-Xms20480m -Xmx20480m -server -XX:+UseParllelGC“

Restart=on-failure
RestartSec=5s

ExecStart=/opt/tomcat/latest/bin/startup.sh
ExecStop=/opt/tomcat/latest/bin/shutdown.sh

[Install]
WantedBy=multi-user.target
